/*/soft reset do css/*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    
    background-color:#A1ADC3;
    /*/como botar blur no background/*/
   background-image:url('https://i.ibb.co/dtHH6v9/background2-0blur.png');
    background-size:auto 250vh;
    height: 220vh;
    font-family: 'PT Mono', monospace;
    font: 10px
  }


/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 300px) {
  body {
    font-size: 14px;
  }
 .site-title {
    font-size: 3em;
    
  }

  .avatar {
    float: left;
    
  }
  .avatar img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 1em;
    margin-right: 1em;
  }

  

  .contato {
    justify-content: center;
    text-align: center;
  }
  .contato a {
    font-size: 3em;
    
    
  }
  .contato a:active,
  .contato a:hover {
    text-decoration: none;
   text-shadow:0px 0px 4px cyan;
   font-size: 4em
  
  }

}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
  .site-title{
    font-size: 4em;
    
  }
}

/* breakpoint */


  header {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;


  }
  
  .menu {
    background-color:#AEBFC9;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around; /*/jsutify-content só funciona em conjunto com o display:flex ;/*/

  }
  
  .menu li{
    list-style: none;
  }
  
  .menu a {
   
   display: block;
    padding: 2vh;
    transition: background-color 0.5s, color 0.5s;
    
  }

    /*/quando o mouse passar por cima/*/
    .menu a:hover{
      text-decoration: none;
      /*/font-size: larger;/*/
      background-color: #737492;
      color: white;
    }

  /*/links sobre portifólio contato/*/
  a{
    color:black;
    text-decoration: none;
  }
  

  
  /*/Jr. Frontend Dev/*/
  /*/Victor Reinaldo Melo Mozer/*/

  .titulos {
    /*/transform: scale(0.2) translateY(50vh);
    opacity:0.3;/*/
    
    animation: linear 0.7s introtitulo;
  }
/*/animação do título/*/
  @keyframes introtitulo {
    from{
      transform: scale(0.2) translateY(50vh);
    opacity:0.3;

    }

    to {
      transform: scale(1) translateY(0);
    opacity:1;

    }
  }
  
  .site-title{
    font-size: 2em;
    font-family: 'Rock Salt', cursive;
    text-align: center;

  }

  .site-subtitle{
    text-align: center;
    font-style: italic;
    font-family: 'Pangolin', cursive;

  }
  

  @media (min-width: 1200px) {
    .container{
    padding: 2em;
    min-height: 200vh;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  }
  .sobre{
    margin-left: 8em;
    margin-right: 8em;
    margin-bottom: 25vh;
    /*/background: whitesmoke;
    border-radius: 3%;
    box-shadow: 5px 5px 20px white;/*/
    
  }

  .sobre p{
    color: black;
    text-indent: 3em;
    text-align: justify;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
    
  }
  .sobre a{
    transition: background-color 0.3s, color 0.3s;
    color: rgb(29, 100, 141);
    text-decoration: underline;
  }
  .sobre a:hover{
    
    background-color:#AEBFC9;;
    color:black;
    
  }

  

  @media (min-width: 300px){
    .sobre {
      margin-left: 2em;
      margin-right: 2em;
    }
    .portfolio .grid {
      display: grid;
      gap: 2em;
      grid-template-columns: 150px 150px;
      justify-content: center;
      ;
    }

  }

  @media (min-width: 570px){
    .sobre {
      margin-left: 2em;
      margin-right: 2em;
    }
    .portfolio .grid {
      display: grid;
      gap: 2em;
      grid-template-columns: 150px 150px 150px;
      justify-content: center;
    }

  }

  @media (min-width: 770px){

      .sobre {
        margin-left: 5em;
        margin-right: 5em;
      }
      .portfolio {
      margin-left: 4em;
      margin-right: 4em;
    }
    
      .portfolio .grid {
      display: grid;
      gap: 2em;
      justify-content: center;
      
    }

  @media (min-width: 1024px){
        .portfolio {
      margin-left: 5em;
      margin-right: 5em;
    }
    
        .portfolio .grid {
        display: grid;
        gap: 3em;
        grid-template-columns: 110px 110px 110px 110px;
        justify-content: center;
      }

  @media (min-width: 1360px){
        .portfolio {
          margin-left: 8em;
          margin-right: 8em;
        }

        .portfolio .grid {
          display: grid;
          gap: 7em;
          grid-template-columns: 150px 150px 150px 150px;
          justify-content: center;
        }

  }





/*/alinha tanto os ícones quanto a legenda deles ao centro/*/
  .portfolio {
    margin-bottom: 30vh;
    background-color: whitesmoke;
    box-shadow: 0px 0px 20px whitesmoke;
    border-radius: 30%;
    margin-left: 8em;
    margin-right: 8em;
    
    
  }
  .contato h2,
  .portfolio h2 {
    text-align: left;
    font-size: 2em;
    text-align: center;
  }
  .label{
    margin-bottom: 2em;
  }
  .portfolio h2 {
    font-size: 2em;
    font-family: 'PT Mono', monospace;
    margin-bottom: 0.5em;
    text-align: center;
    opacity: 1;
    
  }
  .img-portfolio {
    width: 175px;
    height: 175px;
    transition: width 0.5s, height 0.5s, transform 0.3s;
    padding:1em;
    transform: scale(1);
    opacity: 1;
  }

  .img-portfolio:active{
    width: 160px;
    height: 160px;
    text-size-adjust: 18px;
    transform: scale(1.2) rotate(15deg);
  }
  
  .img-portfolio:hover {
    width: 160px;
    height: 160px;
    text-size-adjust: 18px;
    transform: scale(1.2) rotate(15deg);
    
    
  }

  .contato {
    background-color: whitesmoke ;
    margin-left: 27em;
    margin-right: 27em;
    margin-bottom: 1em;
    border-radius: 25%;
    box-shadow: 0px 0px 20px whitesmoke;
  }

  .contato .icons {
    text-align: center;

  }

  .contato a {
    color: black;
    font: 3em;
    transition: text-shadow 0.5s, font-size 0.5s;
  }
